<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul *ngIf="villes " class="list-group" >
        <li [ngClass]="v==currentVille? 'active':''" *ngFor="let v of villes._embedded.villes" class="list-group-item"
        (click)="onGetCinemas(v)">
          {{v.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading"> Lise des cinemas </div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills" >
            <li (click)="onGetTicketsPlaces(p)" *ngFor="let c of cinemas._embedded.cinemas" class="clickable" >

              <a (click)="onGetSalles(c)">{{c.name}} </a>
            </li>
          </ul>
          <div *ngIf="salles" class="row">
            <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
              <div class="panel panel-default ">
                <div class="panel-heading">{{s.name}}</div>

                <div class="panel-body" *ngIf="s.projections">
                  <div class="row">
                    <div class="col-md-6">                   <img class="img-responsive center-block" src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}" />
                    </div>
                    <div class="col-md-6">
                    <ul class="list-group">
                    <li  class="list-group-item">Séances </li>
                      <li class="list-group-item" *ngFor="let p of s.projections._embedded.projections">
                        {{p.seance.heureDebut}} =>Prix : {{p.prix  | number:'0.00'}} Dhs
                      </li>
                    </ul>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>


